body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
  font-family: monospace;

  /* Position properties below this line */
  /* Position properties above this line */
}
/* div {
  margin: 10px;

  border-style: solid;
  background-color: lightgrey;
} */
.container {
  position: relative;
  max-width: 460px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 30px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  border-style: solid;
}

.pwd-container {
  border: #7d2ae8;
}
